.country{
    border: 2px solid purple;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background: lightgray;
}
.img{
    width: 100%;
    border-radius: 15px 15px 0 0; 
    height: 250px;
}
.btn{
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 10px;
}
.btn:hover{
    background-color: bisque;
        
}